@model TestIgnatov.Models.ViewModels.User.UserLogin;

@section Styles {
    <link rel="stylesheet" href="~/css/products/login.css" />
}

<section>
    <div class="form-box">
        <div class="form-value">
            <form asp-action="LogIn">
                <h2>Login</h2>
                <div class="inputbox">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" asp-for="UserName" required>
                    <label for="">Username</label>
                </div>
                <div class="inputbox">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" asp-for="Password" required>
                    <label for="">Password</label>
                </div>
                <div class="forget">
                    <label for=""><input type="checkbox">Remember Me <a href="#">Forget Password</a></label>

                </div>
                <button type="submit" class="log-in-button">Log in</button>
                <div class="register">
                    <p>Don't have a account <a href="#">Register</a></p>
                </div>
            </form>
        </div>
    </div>
</section>